form {
  border: 3px solid #f1f1f1;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.buttonLogin {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
}

.buttonLogin:hover {
  opacity: 0.8;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

.slider {
  display: block;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 8px;
  padding-right: 8px;
  overflow: scroll;
  max-height: 30%;
}

/* Start - Card */
.card {
  display: inline-block;
  min-width: 100px;
  max-width: 500px;
  padding:1.5rem;
  box-shadow:0 1px 2px #aaa;
  background:white;
  margin:0 1rem 1rem;
  border-radius:3px;
  user-select:none;
  animation: fly-in-from-left 1s both;
  transform-origin: top left;
}

.card:nth-child(odd){
  animation-name: fly-in-from-right;
  animation-delay: .8s;
  transform-origin: top right;
}

@keyframes fly-in-from-bottom {
  from {
    transform:translateY(15rem);
    opacity:0;
  }
}

@keyframes fly-in-from-left {
  from {
    transform:translateY(15rem) rotate(15deg);
    opacity:0;
  }
}

@keyframes fly-in-from-right {
  from {
    transform:translateY(15rem) rotate(-15deg);
    opacity:0;
  }
}

.card a {
  display: block;
  text-align: left;
  text-decoration: none;
  padding: 8px;
}

.card a.title {
  display: inline;
  font-size:2rem;
  font-weight:200;
}

.card a.type {
  color: grey;
  font-weight: lighter;
  padding-top: 0;
  padding-bottom: 0;
}

.card a.description {
  max-width: 500px;
  max-height: 500px;
  font-size:.9rem;
  line-height:1.5;
  color:gray;
  font-weight:400;
}

.card a.link {
  font-size: 12px;
  text-align: right;
  float: right;
}

.card a.date {
  font-size: 12px;
  text-align: left;
  float: left;
}

.card a.approve {
  color: #AF4C50;
  font-size: 2rem;
}

.card img {
  max-width: 100%;
}

.card:hover {
  box-shadow:0 2px 4px #aaa;
}
/* End   - Card */

/* Start - Nav bar */
.topnav {
  max-height: 10%;
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition: all 0.3s ease-out;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.topnav a.login {
  background-color: #AFAFAF;
  color: white;
  float: right;
}

.topnav a.logout {
  background-color: #AF4C50;
  float: right;
}

.topnav a.home {
    background-color: #0950AF;
    color: white;
}
/* End   - Nav bar */

.register-button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

/* This is for the search bar */

.box {
  display: inline-block;
  width: 30%;
  padding: 12px 20px;
  max-width: 500px;
}

.box select {
  height: 50px;
  display: inline-block;
  position: relative;
  top: 0%;
}

.searchBar input#search{
  width: 100%;
  height: 50px;
  background: #e6e6e6;
  border: none;
  font-size: 12pt;
  float: left;
  color: #666666;
  padding-left: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.searchBar .icon{
  position: relative;
  top: 0%;
  z-index: 1;
  color: #4f5b66;
}

.searchBar button.icon{
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  border: none;
  background: #808080;
  height: 50px;
  width: 50px;
  margin-left: -50px;
  color: #4f5b66;
  opacity: 0;
  font-size: 10pt;

  -webkit-transition: all .55s ease;
  -moz-transition: all .55s ease;
  -ms-transition: all .55s ease;
  -o-transition: all .55s ease;
  transition: all .55s ease;
}

.searchBar:hover button.icon, .container-4:active button.icon, .container-4:focus button.icon{
    outline: none;
    opacity: 1;
  }

/* End Search Bar*/

.tooltip {
    position: relative;
    display: inline-block;
    /*border-bottom: 1px dotted black;*/
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
